<div class="container">
    <div class="row">
        <br />
        <a href="/persona/nuevo" class="btn btn-primary">Nuevo</a>
        <table id="tablaPrincipal" class="table table-striped">
            <thead>
                <tr class="centrado">
                    <th>DNI</th>
                    <th>Apellidos</th>
                    <th>Nombres</th>
                    <th>Edad</th>
                    <th colspan="2">Operaciones</th>
                </tr>
            </thead>
            <tbody>
                {{#each personas}}
                <tr class="centrado">
                    <td>{{this.dni}}</td>
                    <td>{{this.apellidos}}</td>
                    <td>{{this.nombres}}</td>
                    <td>{{this.edad}}</td>
                    <td><a href="/persona/modificar/{{this._id}}" class="btn btn-info">Modificar</a></td>
                    <td><a href="/persona/eliminar/{{this._id}}" class="btn btn-danger">Eliminar</a></td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>